
.compiled {
  font-family: Consolas, 'Courier New', monospace;
}

.compiled label{
  display: block;
  margin-bottom: 0;
}

.form-group{
  margin-top:.5em;
  margin-bottom: .5em;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.wrapper .form{

  width: 50%;
}

.reservedWord{
  font-weight: bold;
  color:darkmagenta
}

.string{
  color:darkcyan;
}
